@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.room-list-container {
  background: $gray-800;
  color: $gray-100;
  padding-top: 2rem;
}