@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/badge";

.pill {
  @extend .badge;
  @extend .badge-pill;
  @extend .badge-secondary;

  .pill-img {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 0.4rem;
    width: 1rem;
  }
}