@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.backdrop {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;

  .backdrop-background {
    background: #000;
    height: 100%;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
  }

  .backdrop-wrapper {
    position: absolute;
    transition: bottom 0.35s ease-in-out;
    width: 100%;
  }

  .backdrop-content {
    background: #FFF;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px -0.5rem 1rem $gray-800;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  .backdrop-content-scroll {
    max-height: 75vh;
    overflow: auto;
  }

  .backdrop-close {
    background: $gray-400;
    display: inline-block;
    height: 2rem;
    mask: url(./close.svg);
    mask-size: cover;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;

    &:hover,
    &:focus {
      background: $gray-600;
    }

    &:active {
      background: $gray-900;
    }
  }
}

.backdrop-hide {
  .backdrop-background {
    opacity: 0;
  }
  .backdrop-wrapper {
    bottom: -100vh;
  }
}
.backdrop-show {
  .backdrop-background {
    opacity: 0.75;
  }
  .backdrop-wrapper {
    bottom: 0;
  }
}