@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.app-header {
  margin-bottom: 1rem;

  .container {
    padding-bottom: 1rem;
    padding-top: 8rem;
    position: relative;
  }

  h1 {
    margin-bottom: 0;
  }
}

.settings-show {
  background: $gray-400;
  display: inline-block;
  height: 2rem;
  mask: url(./settings.svg);
  mask-size: cover;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;

  &:hover,
  &:focus {
    background: $gray-600;
  }

  &:active {
    background: $gray-900;
  }
}