@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.app-header {
  background: $white;
  margin-bottom: 1rem;
  position: sticky;
  top: -10.65rem;
  z-index: 5000;
  transition: all 0.25s ease-in-out;

  .container {
    padding-bottom: 0.25rem;
    padding-top: 8rem;
    position: relative;
    transition: all 0.25s ease-in-out;
  }

  h1 {
    margin-bottom: 0;
  }
}
.app-header-collapsed {
  box-shadow: 0 0 1rem rgba($black, .15);
}

.settings-show {
  background: $gray-400;
  display: inline-block;
  height: 2rem;
  mask: url(./settings.svg);
  mask-size: cover;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;

  &:hover,
  &:focus {
    background: $gray-600;
  }

  &:active {
    background: $gray-900;
  }
}