.snackbar-container {
  .fixed-bottom {
    transition: bottom 0.35s ease-in-out;
  }
}

.snackbar-show {
  .fixed-bottom {
    bottom: 0;
  }
}
.snackbar-hide {
  .fixed-bottom {
    bottom: -100vh;
  }
}
